<a href="https://colab.research.google.com/github/felipe-infnet/projetoAIA/blob/main/Tp3_pythonparadados_feliperio.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#Questao 1
texto = """
As motocicletas são máquinas incríveis que vêm em muitas formas e tamanhos. Uma das características mais distintas de uma motocicleta é o seu motor, especificamente o número e a disposição dos seus cilindros.

Existem motocicletas com apenas um cilindro. Estas são geralmente encontradas em motos de menor cilindrada, sendo conhecidas pela sua simplicidade e eficiência.

As motocicletas com dois cilindros são bastante comuns e vêm em várias configurações. Uma configuração popular é a de "dois cilindros em linha", onde os cilindros estão lado a lado. Outra é a configuração "V-Twin" (ou "2 em V"), onde os cilindros estão dispostos em um ângulo um em relação ao outro. As Ducatis, por exemplo, são famosas por usar esta configuração.

Há também as motocicletas com três cilindros, que oferecem um equilíbrio entre potência e suavidade. Estes motores são conhecidos por sua queima de 120 graus, que ajuda a suavizar a entrega de potência.

Por fim, temos as motocicletas com quatro cilindros, que são frequentemente encontradas em motos esportivas de alta performance. Estes podem vir na configuração "L4" (quatro cilindros em linha) ou "V4" (quatro cilindros em V). Estes motores são conhecidos por sua potência e torque elevados.

Cada configuração de cilindro tem suas próprias características únicas de potência e torque. Em geral, motores com mais cilindros podem gerar mais potência, enquanto motores com menos cilindros são geralmente mais eficientes e mais fáceis de manter.
"""

# Salvando em um arquivo *.txt
with open('texto.txt', 'w') as f:
    f.write(texto)

In [3]:
# Carregando o txt como variável
with open('texto.txt', 'r') as f:
    texto_carregado = f.read()

In [4]:
# Aplicando um dicionário de palavras sinônimas
dicionario_sinonimos = {
    'motocicletas': 'motos',
    'cilindros': 'câmaras',
    'configuração': 'arranjo',
    'potência': 'força',
    'torque': 'binário'
}

In [5]:
for palavra, sinonimo in dicionario_sinonimos.items():
    texto_carregado = texto_carregado.replace(palavra, sinonimo)

In [6]:
# Salvando a string modificada em um novo *.txt
with open('texto_modificado.txt', 'w') as f:
    f.write(texto_carregado)

In [7]:
# Questao 2 - pessoas famosas da TV
import csv

# Lista de pessoas famosas com peso e altura
pessoas_famosas = [
    ['Xuxa', 57, 1.75],
    ['Faustão', 105, 1.75],
    ['Ana Maria Braga', 62, 1.63],
    ['Luciano Huck', 72, 1.82],
    ['Angélica', 54, 1.66],
    ['Gugu Liberato', 85, 1.78],
    ['Hebe Camargo', 59, 1.60],
    ['Silvio Santos', 85, 1.83],
    ['Fernanda Lima', 56, 1.73],
    ['Rodrigo Faro', 78, 1.83]
]

In [8]:
# Salvando a lista em um arquivo .csv
with open('pessoas_famosas.csv', 'w', newline='') as f:
    writer = csv.writer(f)
    writer.writerow(['Nome', 'Peso (kg)', 'Altura (m)'])
    writer.writerows(pessoas_famosas)

In [9]:
# Carregando o arquivo .csv e calculando o IMC
with open('pessoas_famosas.csv', 'r') as f:
    reader = csv.reader(f)
    next(reader)  # Ignorando o cabeçalho
    pessoas_famosas = list(reader)

In [10]:
for pessoa in pessoas_famosas:
    nome, peso, altura = pessoa[0], float(pessoa[1]), float(pessoa[2])
    imc = peso / (altura ** 2)
    if imc < 18.5:
        classificacao = 'De frente tá de lado'
    elif 18.5 <= imc < 25:
        classificacao = 'Peso normal'
    elif 25 <= imc < 30:
        classificacao = 'Sobrepeso'
    else:
        classificacao = 'Novo Planeta'
    pessoa.append(imc)
    pessoa.append(classificacao)

In [11]:
# Escrevendo um novo arquivo .csv com o IMC e a classificação do que será incluído no meu processo no tribunal =P
with open('pessoas_famosas_imc.csv', 'w', newline='') as f:
    writer = csv.writer(f)
    writer.writerow(['Nome', 'Peso (kg)', 'Altura (m)', 'IMC', 'Classificação'])
    writer.writerows(pessoas_famosas)

In [12]:
#QUestao 3 - dramaturgia
import json

# Estrutura de dados
dados = {
    'Nelson Rodrigues': {
        'Vestido de Noiva': {'Livraria Cultura': 120, 'Livraria da Vila': 85},
        'Álbum de Família': {'Livraria Cultura': 200, 'Livraria da Vila': 150},
        'Perdoa-me por Me Traíres': {'Livraria Cultura': 180, 'Livraria da Vila': 130},
        'Os Sete Gatinhos': {'Livraria Cultura': 210, 'Livraria da Vila': 160},
        'Boca de Ouro': {'Livraria Cultura': 240, 'Livraria da Vila': 190}
    },
    'Ariano Suassuna': {
        'O Auto da Compadecida': {'Livraria Cultura': 300, 'Livraria da Vila': 250},
        'O Santo e a Porca': {'Livraria Cultura': 280, 'Livraria da Vila': 230},
        'O Homem da Vaca e o Poder da Fortuna': {'Livraria Cultura': 260, 'Livraria da Vila': 210},
        'A Pena e a Lei': {'Livraria Cultura': 240, 'Livraria da Vila': 190},
        'Farsa da Boa Preguiça': {'Livraria Cultura': 220, 'Livraria da Vila': 170}
    },
    'Dias Gomes': {
        'O Bem Amado': {'Livraria Cultura': 200, 'Livraria da Vila': 150},
        'Roque Santeiro': {'Livraria Cultura': 220, 'Livraria da Vila': 170},
        'O Pagador de Promessas': {'Livraria Cultura': 240, 'Livraria da Vila': 190},
        'Saramandaia': {'Livraria Cultura': 260, 'Livraria da Vila': 210},
        'O Rei do Gado': {'Livraria Cultura': 280, 'Livraria da Vila': 230}
    },
    'Jorge Amado': {
        'Gabriela, Cravo e Canela': {'Livraria Cultura': 300, 'Livraria da Vila': 250},
        'Dona Flor e Seus Dois Maridos': {'Livraria Cultura': 320, 'Livraria da Vila': 270},
        'Tieta do Agreste': {'Livraria Cultura': 340, 'Livraria da Vila': 290},
        'Tenda dos Milagres': {'Livraria Cultura': 360, 'Livraria da Vila': 310}
    },
    'Érico Veríssimo': {
        'O Tempo e o Vento': {'Livraria Cultura': 380, 'Livraria da Vila': 330},
        'Incidente em Antares': {'Livraria Cultura': 400, 'Livraria da Vila': 350},
        'Música ao Longe': {'Livraria Cultura': 420, 'Livraria da Vila': 370},
        'Um Lugar ao Sol': {'Livraria Cultura': 440, 'Livraria da Vila': 390},
        'Olhai os Lírios do Campo': {'Livraria Cultura': 460, 'Livraria da Vila': 410}
    }
}

In [13]:
# Escrevendo um arquivo .json
with open('livros.json', 'w') as f:
    json.dump(dados, f)

# Carregando o arquivo .json
with open('livros.json', 'r') as f:
    dados_carregados = json.load(f)

In [14]:
# Atualizando um número de unidades vendidas
dados_carregados['Nelson Rodrigues']['Vestido de Noiva']['Livraria Cultura'] += 10

# Atualizando o arquivo .json
with open('livros.json', 'w') as f:
    json.dump(dados_carregados, f)

In [15]:
#Questao 4 - Abalone
import pandas as pd

# Definindo os nomes das colunas
colunas = ['Sex', 'Length', 'Diameter', 'Height', 'Whole weight', 'Shucked weight', 'Viscera weight', 'Shell weight', 'Rings']

In [16]:
# Carregando a base de dados
df = pd.read_csv('https://raw.githubusercontent.com/jbrownlee/Datasets/master/abalone.csv', names=colunas)

In [18]:
# Apresentando a base de dados
print(df.head())

  Sex  Length  Diameter  Height  Whole weight  Shucked weight  Viscera weight  \
0   M   0.455     0.365   0.095        0.5140          0.2245          0.1010
1   M   0.350     0.265   0.090        0.2255          0.0995          0.0485
2   F   0.530     0.420   0.135        0.6770          0.2565          0.1415
3   M   0.440     0.365   0.125        0.5160          0.2155          0.1140
4   I   0.330     0.255   0.080        0.2050          0.0895          0.0395

   Shell weight  Rings
0         0.150     15
1         0.070      7
2         0.210      9
3         0.155     10
4         0.055      7

In [19]:
#Questao 5 DF
# Calculando a média das variáveis agrupadas por 'Sex'
media = df.groupby('Sex')[['Length', 'Diameter', 'Height', 'Whole weight', 'Rings']].mean()

# Apresentando o dataframe
print(media)

       Length  Diameter    Height  Whole weight      Rings
Sex
F    0.579093  0.454732  0.158011      1.046532  11.129304
I    0.427746  0.326494  0.107996      0.431363   7.890462
M    0.561391  0.439287  0.151381      0.991459  10.705497

In [20]:
#Questao 6
# Carga dos dados
df = pd.read_csv('https://raw.githubusercontent.com/cassiusf/datasets/main/exemplo_dataset.csv')

# Apresentando a base de dados
print(df.head())

  ID\tEGF_Baseline\tEGF_Stimulus
0      FBgn0029994\t-1.25\t-0.27
1       FBgn0037191\t-1.05\t0.78
2        FBgn0036810\t2.08\t1.34
3        FBgn0033320\t1.15\t0.45
4      FBgn0051156\t-1.77\t-0.76

In [21]:
#QUestao 7
# Carga para a base de dados
df = pd.read_json('https://raw.githubusercontent.com/domoritz/maps/master/data/iris.json')

# Calculando a média e a mediana das variáveis numéricas por espécie
media = df.groupby('species')[['sepalWidth', 'sepalLength', 'petalWidth', 'petalLength']].mean()
mediana = df.groupby('species')[['sepalWidth', 'sepalLength', 'petalWidth', 'petalLength']].median()

# Apresentando a média e a mediana
print('Média:\n', media)
print('\nMediana:\n', mediana)

Média:
             sepalWidth  sepalLength  petalWidth  petalLength
species
setosa           3.428        5.006       0.246        1.462
versicolor       2.770        5.936       1.326        4.260
virginica        2.974        6.588       2.026        5.552

Mediana:
             sepalWidth  sepalLength  petalWidth  petalLength
species
setosa             3.4          5.0         0.2         1.50
versicolor         2.8          5.9         1.3         4.35
virginica          3.0          6.5         2.0         5.55

In [22]:
#Questao 8
import pandas as pd

# Carregando o arquivo CSV, tive a preferencia de realizar o upload ao invés de linkar o arquivo.
df = pd.read_csv('AccountData.csv')

# Verificando os tipos de dados
print(df.dtypes)

Transaction Number     int64
Date                  object
Description           object
Memo                  object
Category              object
Transaction Amount    object
Balance               object
Temp 1                object
dtype: object

In [24]:
# tratando os dados removendo o dólar e convertendo para float
df['Transaction Amount'] = df['Transaction Amount'].replace('[\$,]', '', regex=True)

In [36]:
print(df.head)

<bound method NDFrame.head of       Transaction Number       Date            Description   \
0                   1001   1/1/2017         BALANCE TRANSER
1                  31650   1/1/2017          ATM WITHDRAWAL
2                  31617   1/1/2017  PAYMENT/TRANSFER DEBIT
3                  31618   1/2/2017  PAYMENT/TRANSFER DEBIT
4                  31621   1/3/2017  PAYMENT/TRANSFER DEBIT
...                  ...        ...                     ...
1000               32553  3/24/2019  PAYMENT/TRANSFER DEBIT
1001               32556  3/25/2019  PAYMENT/TRANSFER DEBIT
1002               32555  3/25/2019  PAYMENT/TRANSFER DEBIT
1003               32558  3/26/2019  PAYMENT/TRANSFER DEBIT
1004               32557  3/26/2019          DEBIT PURCHASE

                                      Memo          Category  \
0                From old checking account          Transfer
1                                 7-11 ATM     Uncategorized
2                  Private Island Mortgage           Housing
3                Emergency Shuttle Standby  Auto & Transport
4                    Universal Subway Pass  Auto & Transport
...                                    ...               ...
1000                    Personal Concierge     Entertainment
1001  Clone maintenance / Health Insurance        Insurance
1002             AI Machine Learning Loans             Loans
1003                       Personal Lawyer    Fees & Charges
1004                Hamilton, Private Show     Entertainment

     Transaction Amount       Balance       Temp 1
0            200000.00   $250,000.00   Occaisional
1              (402.50)  $249,597.50   Occaisional
2           (105062.35)  $144,535.15     Recurring
3            (10056.87)  $134,478.28     Recurring
4             (2846.87)  $131,631.41     Recurring
...                 ...           ...          ...
1000          (2506.99)  $115,503.41     Recurring
1001          (2305.21)  $113,198.20     Recurring
1002         (13020.32)  $100,177.88     Recurring
1003          (2966.35)   $97,211.53     Recurring
1004         (25006.35)   $72,205.18   Occaisional

[1005 rows x 8 columns]>

In [37]:
# Convertendo strings para minúsculas
df['Description '] = df['Description '].str.lower()

In [26]:
# Removendo linhas com valores ausentes
df = df.dropna()

In [35]:
# Convertendo strings em categorias
df['Category'] = df['Category'].astype('category')